.woocommerce-MyAccount-navigation{
    @include box-shadow($box-shadow);
}

.image-overlay{

   
    width: 200px;
    margin-bottom: 2rem;
    background-color: $white;
    margin: auto;
    border-radius: $border-radius;
    position: relative;
    @include box-shadow($box-shadow);

    

    .overlay-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        font-weight: bold;
        background-color: rgba($white, 0.8);
        border-radius: $border-radius;
        padding: .5rem;

        
        
        
    }
    &:hover, &:focus{
        box-shadow: none;
        @include transition-ease;
    }
}